{% extends 'base1.html' %}
{% load static %}
{% block content %} 


<style>
  body {
  background-color: #eee;
}

*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color:orange;
  border-radius: 0.3em;
}

*[role="form"] h2 {
  margin-left: 1em;
  margin-bottom: 1em;
}


</style>

<script>
  function validate()
  {
    var cid=f1.cid.value;
    var aid=f1.aid.value;
   
    var regvalidation=/^[0-9]{1,5}$/;

   
    if (!regvalidation.test(cid)) {

        alert("Plz enter the valid Customer Id ");
        return false;
    }
    if (!regvalidation.test(aid)) {

      alert("Plz enter the valid Agent Id ");
      return false;
}


    return true;

  }
  </script>

  <div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mb-4">Assign Donars To Agents</h2>
          <form name="f1" action="" method="POST" class="form-horizontal" role="form" onsubmit="return validate()">
            {% csrf_token %}
            
            {% for field in upload_form %}
            
            <div class="form-group">
                <label for="firstName" class="col-sm-5 control-label">{{field.label}}</label>
                <div class="col-sm-12">
                    {{ field }} 
                </div>
            </div>
          
            {% endfor %}
            
            <div class="form-group">
                <div class="col-sm-12 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary btn-block">Assign</button>
                </div>
            </div>
        </form>    
          
        </div>
      </div>
    </div>
  </div>



{% endblock content %}
